* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
background-image: url(../img/R.jpg);
font-family: 'Open Sans', sans-serif;
background-size: cover;
background-position: center;
color: #333;
}
.logo {
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    }
    img.img-logo {
        padding: 12px;
    }
    .img-logo {
        align-items: flex-start;
        border-radius: 50%;
        width: 135px;
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        flex-direction: column;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
.links {
        text-align: right;
        padding-top: 10px;
        margin-right: 4px;
    }
.links a {
        text-decoration: none;
        color: #444;
        font-weight: bold;
        margin-left: 20px;
    }
a {color: black;
    text-decoration: none;
    font-family: 'Helvetica', sans-serif;
    font-weight:bold;
}
ol, ul {
    list-style-type: none;
    flex-direction: row;
    flex-wrap: wrap;
}
form.FormBuscar { 
    width: 95%;
    padding-top: 25px;
    display: flex;
    justify-content: center;
}

.formBuscar input{
        width: 90%;
        height: 40px;
        border: 1px solid#ccc;
        border-radius: 1px solid transparent;
       padding: 5px;
    }
  
.formBuscar button{
        width: 10%;
        height: 40px;
        background-color: rgb(255 255 255);
        border-left: 1px solid rgba(112, 112, 112, 0.962);
        border-top-color: transparent;
        border-bottom-color: transparent;
        border-right-color: transparent;
        color: white;
        border-radius: 5px;
    }
    form.FormBuscar { 
        width: 95%;
        padding-top: 25px;
        display: flex;
        justify-content: center;
    }
  
    main {
        padding-top: 20px;
    }
    .BUSCADOR {
        border-radius: 6px;
        display: flex;
        align-items: center;
        margin: 3px;
        background-color: #0a383b;
        color: white;
        font-family: ui-monospace;
        font-size: 13px;
    }
    input.buscador {
        padding: 5px;
        width: 408px;
        margin: -1px;
        height: 33px;
        display: flex;
        align-items: center;
    }
    .contenedor {
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px;
    }
    .contenedorIz, .contenedorC, .contenedorD {
        height: 100px;
        display: flex
    ;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-content: center;
    }
    .contenedorIz {
        width: 30%;
    }
    .contenedorC {
        width: 51%;
    }
    .items1 {
        width: 100%;
        display: flex
    ;
        justify-content: space-evenly;
        padding: 15px 0px;
        margin: 18px;
    }
.item {
    background-color: #F9F9F9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
img.imgPlato {
    display: flex;
    width: 100%;
    border-radius: 15px;
    justify-content: center;
    align-self: center;
}
section.recetas-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: inline-block;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    list-style: none;
    width: 100%;
}
p {
    text-decoration: none;
    padding: 10px;
}

section.nombres {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
}
article.BEM {
    display: flex;
    justify-content: center;
    font-size: 13px;
    margin: 15px;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
article {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 170px;
    margin: 20px;
}
article.articleIndex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 30px;
    padding: 150px;
    background-color: #F9F9F9;
    padding: 10px;
    border-radius: 15px;
    width: 22%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
h1 {
    padding: 15px;
    text-align: center;
    text-size-adjust: auto;
    display: flex;
    font-family: 'Poppins', sans-serif;
    color: #FFEECC;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #ef6969cc;
    align-content: center;
}
section.sectioncargarmas {
    display: flex;
    justify-content: center;
}
p {
    text-decoration: none;
    padding: 3px;
    font-size: smaller;
}
button.cargar-mas {
    padding: 12px 20px; 
    background-color: #ef6969cc;; 
    color: white; 
    border: none; 
    border-radius: 8px; 
    font-size: 16px;
    font-weight: bold; 
    text-align: center; 
    cursor: pointer; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease; 
}

button.cargar-mas:hover {
    background-color: #d45555cc; 
    transform: scale(1.05); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
}

article.BEM {
        display: flex;
        justify-content: center;
        font-size: 15px;
        margin: 10px 475px; 
        align-content: center;
        align-items: center;
    }
    img.imgPlato {
        display: flex;
        width: 88%;
        border-radius: 15px;
        justify-content: center;
    }
    .FormReg {
        background-color: #44444429;
        display: flex;
        border-radius: 10px;
        width: 500px;
        margin: auto;
        flex-direction: column;
        padding: 50px;
    }

section.EPform {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-around;
    align-items: center;
    padding-right: 110px;
}
.loginForm {
        background-color: #44444429;
        display: flex;
        border-radius: 10px;
        width: 550px;
        margin: auto;
        flex-direction: column;
        padding: 60px;
    }
    label {
        font-size: medium;
        margin-bottom: 3px;
        font-weight: 300;
    }
    input#nameemail {
        align-self: flex-start;
        align-content: flex-start;
        width: 365px;
        height: 20px;
        font-size: x-small;
    }
    .derivar {
        flex-direction: row;
        display: flex;
        justify-content: center;
        gap: 10px;
    }
   
    .Form {
        margin: 20px 50px 5px 50px;
        padding: 10px;
        align-items: center;
    }
    .no_cuenta {
        font-size: x-small;
        display: flex ;
        justify-content: center;
        align-items: center;
        margin: 14px;
    }
    input#email {
        margin: 5px 5px;
        width: 156%;
    }
    input#password {  
        margin: 5px 4px;
        width: 156%;
    }
    button.derivar {
        background-color: #0a383b; 
        color: white; 
        border: none; 
        padding: 12px 20px; 
        border-radius: 8px; 
        align-self: center; 
        font-size: 16px; 
        font-weight: bold; 
        text-align: center; 
        cursor: pointer; 
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    }
    
    button.derivar:hover {
        background-color: #096066; 
        transform: scale(1.05); 
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
    }
    
    section.btninicio {
        flex-direction: column;
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    
.anocuentaP {
    font-size: small;  
    font-weight: bolder;  
    color: #000000; 
}

a.anocuenta {
    font-weight: bolder;
    font-size: small; 
    text-decoration: none;
    color: #043d2f;
    transition: all 0.3s ease;
}

a.anocuenta:hover {
    text-decoration: underline;
    color: #245e5e;
}

    p.detallePlato {
        font-weight: bolder;
        font-size: 20px;
    }
    .loginRegisterh1  {
        background-color: #0a383b ;
        border-radius: 4px;
    }
.tituloRegister {
    background-color: #0a383b;
        font-family: ui-rounded;
        border-radius: 4px;
}


ol, ul {
    list-style-type: none;
    
}
section.recetasSec {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
li.listadoCategories {
    list-style-type: none;
    margin: 20px;
    width: 8%;
    display: flex
;
    align-items: center;
}
section.recetasSec {
    display: flex
;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
}
label.checkbox {
    font-size: small;
    padding: 8px;
    margin: 4px;
}
/*BOTON EN CATEGORIES*/
.contenedorCargarMas{
    text-align: center;
}
/*cambios mariana*/
.dificultadPlato{
    color: #333333  ;
}

.detallePlatoA {
    color: #8b6348;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    display: inline-block;
    font-size: 16px;
}
.nombrePlato {
    font-weight: bold;
    font-size: 13px;
    padding: 10px;
    padding-bottom: 5px;
    color: #83481d;
}
.detallePlatoA:hover{
    text-decoration: underline;
}
a.detalleReceta {
    font-size: small;
}
a.aReceta {
    list-style: none;
    text-decoration: none;  
    background-color: rgb(255, 255, 255);
    padding: 10px;
    font-family: ui-monospace;
    border-radius: 5px;
    color: #83481d;
    font-size: larger;
    font-weight: 800;
    width: 91%;  
    text-align: center;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    margin: 5px;  
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);  
    height: 50px;  
}
.section2Category{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: inline-block;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    list-style: none;
    width: 100%;
}
.recetaSection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: inline-block;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    list-style: none;
    width: 100%;
}
p.nameReceta {
    padding: 14px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    font-family: ui-monospace;
    font-size: 20px;
    background-color: #ffffff75;
    color: #ef6969cc;
    font-weight: bold;
}
p.instReceta {
    padding: 25px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-family: ui-monospace;
    background-color: #ffffff75;
}
p.tiempCoccReceta {
    display: flex;
    justify-content: flex-start;
    padding: 16px;
    font-size: 15px;
    font-family: ui-monospace;
    background-color: #ffffff75;
}
p.categoriaReceta {
    background-color: #ffffff75;
    padding: 17px;
    font-family: ui-monospace;
}
.resultadosBusqueda{
    display: flex;
}
span.span{
    display: none;
    font-size: smaller;
    font-weight: bold;
}

@media (max-width: 640px){
    /*fotos de index*/
    article.articleIndex {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 30px;
        padding: 150px;
        background-color: #F9F9F9;
        padding: 10px;
        border-radius: 15px;
        width: 100%;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }

    /*header*/
    .contenedor {
        height: 80px;
        display: inline;
        justify-content: center;
        align-items: center;
       /* margin: 30px;*/
    }
    .contenedorIz, .contenedorC, .contenedorD {
        height: 100px;
        display: flex;
        width: 100%;
    ;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-content: center;
        margin: 0;
    }
    .items1 {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            padding: 15px 0px;
            margin: 0px 218px 0px 0px;
            background-color: #245e5ede;
            border-radius: 6px;
        }
        

    /*categories*/
    li.listadoCategories {
        list-style-type: none;
        margin: 20px;
        width: 100%;
        display: flex
    ;
        align-items: center;
    }

    /*Login*/
    .loginForm {
        background-color: #44444429;
        display: flex;
        border-radius: 10px;
        width: 75%;
        margin: auto;
        flex-direction: column;
        padding: 60px;
    }
   
    .Form {
        margin: 20px 50px 5px 50px;
        padding: 10px;
        align-items: center;
    }
    input#email {
        margin: 5px 0px;
        width: 240%;
    }
    input#password {
        margin: 5px 0px;
        width: 240%;
    }
    /*Registro*/
    .FormReg {
        background-color: #44444429;
        display: flex;
        border-radius: 10px;
        width: 75%;
        margin: auto;
        flex-direction: column;
        padding: 50px;
    }
    input#email {
        margin: 5px 0px;
        width: 250%;
    }
    input#password {
        margin: 5px 0px;
        width:250%;
    }
}
.NOMBRES {
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 15px;
    margin: 10px auto; 
    width: 25%; 
}

    .areceta {
            color: black;
            text-decoration: none;
            font-family: 'Helvetica', sans-serif;
            font-weight: 550;
            font-size: 15px;
    
    }
    img.imgReceta {
        width: 50%;
        border-radius: 15px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }
    .divRecetaImg {
        background-color: #ffffff75;
        display: flex;
        justify-content: center;
    }
    @media (max-width: 920px){


        /*fotos de index*/
        article.articleIndex {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            flex-direction: column;
            margin: 30px;
            padding: 150px;
            background-color: #F9F9F9;
            padding: 10px;
            border-radius: 15px;
            width: 50%;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        }
    
    
        /*header*/
        .contenedor {
            height: 80px;
            display: inline;
            justify-content: center;
            align-items: center;
           /* margin: 30px;*/
        }
        .contenedorIz, .contenedorC, .contenedorD {
            height: 100px;
            display: flex;
            width: 100%;
        ;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            align-content: center;
            margin: 0;
        }
        .items1 {
            width: 100%;
            display: flex
        ;
            justify-content: space-evenly;
            padding: 15px 0px;
            margin: 0px 70px 0px 0px;
            background-color: #9ea3a396;
        }
    
    
        /*categories*/
        li.listadoCategories {
            list-style-type: none;
            margin: 20px;
            width: 50%;
            display: flex
        ;
            align-items: center;
        }
    
    
         /*Login*/
         @media (max-width: 640px) {
            .Form {
                margin-bottom: 20px;
            }
        
            /* Estilo específico para el input de email */
            #email {
                padding: 12px; /* Aumenta el padding para mayor comodidad */
                font-size: 16px; /* Aumenta el tamaño de la fuente */
                width: 100%; /* Asegura que el campo ocupe todo el ancho disponible */
                box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
            }
        
            /* Estilo para el input de password */
            #password {
                padding: 12px;
                font-size: 16px;
                width: 100%;
                box-sizing: border-box;
            }
        
            .loginForm {
                padding: 15px; /* Añadir algo de espacio alrededor del formulario */
                width: 90%; /* Limitar el ancho del formulario */
                margin: auto; /* Centrar el formulario */
            }
        
            .btninicio button {
                width: 100%; /* Asegura que el botón ocupe todo el ancho disponible */
                padding: 12px; /* Aumentar el padding del botón */
            }
        /*Registro*/
        .FormReg {
            background-color: #44444429;
            display: flex;
            border-radius: 10px;
            width: 85%;
            margin: auto;
            flex-direction: column;
            padding: 50px;
        }
    
    
    }
}