* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

body{
background-image: url(../img/R.jpg);
font-family: 'Arial',sans-serif;
background-size: cover;
background-position: center;
color: #333;
}

.logo {
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    }
    img.img-logo {
        padding: 12px;
    }
    .img-logo {
        align-items: flex-start;
        border-radius: 50%;
        width: 135px;
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        flex-direction: column;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
.links {
        text-align: right;
        padding-top: 10px;
        margin-right: 4px;
    }

.links a {
        text-decoration: none;
        color: #444;
        font-weight: bold;
        margin-left: 20px;
    }

a {color: black;
    text-decoration: none;}

ol, ul {
    list-style-type: none;
    flex-direction: row;
    flex-wrap: wrap;
}
form.FormBuscar {
    width: 95%;
    padding-top: 25px;
}
input.buscador {
    padding: 5px;
    width: 435px;
    margin: -1px;
}
.formBuscar input{
        width: 90%;
        height: 40px;
        border: 1px solid#ccc;
        border-radius: 1px solid transparent;
       padding: 5px;
    }
    button {
        padding: 4px;
    }
.formBuscar button{
        width: 10%;
        height: 40px;
        background-color: rgb(255 255 255);
        border-left: 1px solid rgba(112, 112, 112, 0.962);
        border-top-color: transparent;
        border-bottom-color: transparent;
        border-right-color: transparent;
        color: white;
        border-radius: 5px;
    }
    form.FormBuscar {
        width: 95%;
        padding-top: 25px;
    }
    input.buscador {
        padding: 4px;
        width: 435px;
        margin: -1px;
    }
    main {
        padding-top: 20px;
    }
    button {
        padding: 4px;
    }
    input.buscador {
        padding: 5px;
        width: 435px;
        margin: -1px;
    }
    .contenedor {
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px;
    }

    .contenedorIz, .contenedorC, .contenedorD {
        height: 100px;
        display: flex
    ;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
        align-content: center;
    }
    .contenedorIz {
        width: 30%;   
    }
    
    .contenedorC {
       
        width: 51%;
    }
    
    .contenedorD {
       
        width: 20%;
        
    }
    .items1 {
        width: 100%;
        display: flex
    ;
        justify-content: space-evenly;
        padding: 15px 0px;
        margin: 18px;
    }
.item {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

img.imgPlato {
    width: 70%;
    border-radius: 30px;
}
section.recetas-section {
    display: flex
;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    list-style: none;
    
}
p {
    text-decoration: none;
    padding: 10px;
}
button.cargar-mas {
    align-items: center;
    justify-content: center;
    
    padding: 12px;
  
    background-color: darkgrey;
    text-decoration-color: white;
    border-block-color: transparent;
    border-block-end-style: transparent;
    
}
article.BEM {
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin: 0px 250px;
    align-content: center;
    align-items: center;
}
article {
    padding-left: 136px;
    padding-top: 10px;
    flex-direction: row;
}

h1 {
    padding: 15px;
    text-align: center;
    text-size-adjust: auto;
    font-size: 29px;
    text-decoration-color: white;
    display: flex
;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: grey;
    align-content: center;
}

p {
    text-decoration: none;
    padding: 10px;
}
button.cargar-mas {

    padding: 12px;
    background-color: darkgrey;
    text-decoration-color: white;
    border-block-color: transparent;
    border-block-end-style: transparent; }
    
article.BEM {
        display: flex;
        justify-content: center;
        font-size: 15px;
        margin: 0px 475px;
        align-content: center;
        align-items: center;
    }
    
    img.imgPlato {
        display: flex;
        width: 30%;
        border-radius: 30px;
        justify-content: center;
    }
.FormReg{
    background-color: #44444429;
        display: flex;
        border-radius: 10px;
        width: 550px;
        margin: auto;
        flex-direction: column;
        padding: 60px;
}
.tituloRegister{
    padding: 15px;
    text-align: center;
    text-size-adjust: auto;
    font-size: 29px;
    text-decoration-color: white;
    display: flex
;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: grey;

}
.loginForm {
        background-color: #44444429;
        display: flex;
        border-radius: 10px;
        width: 550px;
        margin: auto;
        flex-direction: column;
        padding: 60px;
    }
    
    label {
        font-size: small;
        margin-bottom: 3px;
        font-weight: 300;
    }
    
    input#nameemail {
        align-self: flex-start;
        align-content: flex-start;
        width: 365px;
        height: 20px;
        font-size: x-small;
    }
    
    .derivar {
        flex-direction: row;
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    
    span#errorcontra {
        font-size: x-small;
        font-weight: 150;
        color: red;
        padding: 5px;
    }
    
    .Form {
        margin: 20px 50px 5px 50px;
        padding: 10px;
        align-items: center;
    }
    
    .no_cuenta {
        font-size: x-small;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    input#email {
        margin: 5px 4px;
    }
    input#password {  margin: 5px 4px;
    }
    
    
    button.derivar {
        background-color: #5757b2;
        color: white;
        border: 0px;
        padding: 12px;
        border-radius: 5px;
        align-self: center;
        margin: 15px 0px 40px 0px;
        font-size: small;
    }
    
    section.btninicio {
        flex-direction: row;
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    h1.loginh1 {
        background-color: transparent;
    }
/*BOTON EN CATEGORIES*/
.contenedorCargarMas{
    text-align: center;
}
